<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slavetwo</name>
  <description>2nd slave</description>
  <remoteFS>/home/slavetwo</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.9.64</host>
    <port>22</port>
    <credentialsId>d288102f-ec2f-424a-88b9-459b51ec0f55</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slavetwo</label>
  <nodeProperties/>
</slave>